:root{
    margin: 1px;
    padding: 1px;
    font-family: joystick;
}
@font-face {
    font-family: joystick;
    src: url(fonts/joystix/joystix\ monospace.otf);
}

.heading{
    text-align: center;
    padding-right: 120px;
}
.userresponce{
    text-align: center;
    padding-right: 120px;
}
.gameplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

.selectors{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}
.button{
    max-height: 90px;
    max-width: 90px;
    min-height: 50px;
    min-width: 90px;
    border-radius: 50%;
}