:root{
    margin: 0px;
    padding: 0px;
    font-family: joystick;
}
@font-face {
    font-family: joystick;
    src: url(fonts/joystix/joystix\ monospace.otf);
}
body{
   
    background-image: url(Images/photo-wall-white.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 900px 900px;
}

.heading{
    text-align: center;
    padding-right: 120px;
    opacity: 0.785986574;
}
.userresponce{
    text-align: center;
    padding-right: 120px;
}
.gameplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 3px 3px rgb(182, 195, 199) inset;
}

.selectors{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}
.button{
    max-height: 90px;
    max-width: 90px;
    min-height: 50px;
    min-width: 90px;
    border-radius: 50%;
    border-style: none;
    box-shadow: 0px 0px 3px 3px rgb(182, 195, 199);
    background-color: transparent;
    opacity: .70;
    font-family: joystick;
}

.input{
    max-width: 120px;
    box-shadow: 0px 0px 3px 3px rgb(182, 195, 199);
    background-color: transparent;
    border-style: none;
    font-family: joystick;
    font-size: 10px;
}